In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Data Understanding

In [14]:
movies = pd.read_csv("movies.csv")

In [15]:
movies.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [16]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [17]:
movies.describe(include="all")

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
count,9999,9355,9919,8179.000000,9999,9999,8179,7041.000000,460
unique,6817,438,510,NaN,8688,7877,4129,NaN,332
top,Bleach: Burîchi,(2020– ),\nComedy,NaN,\nAdd a Plot\n,\n,7,NaN,$0.01M
freq,65,892,852,NaN,1265,456,35,NaN,22
mean,NaN,NaN,NaN,6.921176,NaN,NaN,NaN,68.688539,NaN
std,NaN,NaN,NaN,1.220232,NaN,NaN,NaN,47.258056,NaN
min,NaN,NaN,NaN,1.100000,NaN,NaN,NaN,1.000000,NaN
25%,NaN,NaN,NaN,6.200000,NaN,NaN,NaN,36.000000,NaN
50%,NaN,NaN,NaN,7.100000,NaN,NaN,NaN,60.000000,NaN
75%,NaN,NaN,NaN,7.800000,NaN,NaN,NaN,95.000000,NaN
max,NaN,NaN,NaN,9.900000,NaN,NaN,NaN,853.000000,NaN

### Noticed issues:
- Movies column had several duplicates
- Years column had brackets and dashes and even roman numericals
- Genre column values are several different genres jammed into a single string
- Rating column had missing values
- One-line column has not much use.
- Starts column has directors and main stars all jammed into a single column
- Votes column has over 1000 missing values
-

### Movies column

The movies column has several hundred duplicate values. However, several more duplicate values are hidden with an empty space at the start/end of the movie title. Hence, stripping empty spaces from  movie names

In [18]:
# Dropping movie duplicates BEFORE stripping empty spaces
movies.drop_duplicates(subset=["MOVIES"]).MOVIES.describe() # 6817 unique values

count              6817
unique             6817
top       Blood Red Sky
freq                  1
Name: MOVIES, dtype: object

In [23]:
# Stripping empty spaces from movies column.
movies.MOVIES = movies.MOVIES.str.strip(" ") 
movies.MOVIES.unique()

array(['Blood Red Sky', 'Masters of the Universe: Revelation',
       'The Walking Dead', ..., 'The Talk', 'Kajko i Kokosz',
       "God's Favorite Idiot"], dtype=object)

In [25]:
# Dropping movie columns after white space has been removed
movies.drop_duplicates(subset=["MOVIES"], inplace=True) 
movies.MOVIES.describe() 
# As seen in output window, nearly 400 rows were duplicates with an extra " "

count              6423
unique             6423
top       Blood Red Sky
freq                  1
Name: MOVIES, dtype: object

### Year column

In [22]:
movies.YEAR.unique()

array(['(2021)', '(2021– )', '(2010–2022)', '(2013– )', '(2020– )',
       '(2006–2013)', '(2019– )', '(2016–2021)', '(2011– )', '(2005– )',
       '(2008–2013)', '(2017– )', '(2017–2021)', '(2016– )',
       '(1994–2004)', '(2014– )', '(2013–2020)', '(2015– )',
       '(2005–2020)', '(2013–2022)', '(2003– )', '(2009–2020)',
       '(I) (2018– )', '(2010–2015)', '(2011–2019)', '(2015–2020)',
       '(2005–2014)', '(2009–2015)', '(2008–2014)', '(2016–2018)',
       '(2009–2017)', '(2020)', '(2018–2021)', '(2017–2020)',
       '(1987–1994)', '(2018– )', '(2012– )', '(2014–2020)',
       '(2011–2018)', '(2005–2017)', '(2017)', '(2007–2015)',
       '(2000–2007)', '(II) (2007– )', '(1993)', '(1999–2022)',
       '(2015–2018)', '(2014–2019)', '(2016)', '(2012–2020)',
       '(2013–2019)', '(2007–2012)', '(2011–2020)', '(2010–2017)',
       '(2000–2015)', '(2015–2021)', '(2001)', '(1997– )', '(2011–2017)',
       '(1993–1999)', '(1989–1998)', '(2010–2013)', '(2010–2020)',
       '(2003–2019)', '(I) (2019)', '(2017–2019)', '(1975)',
       '(2005–2008)', '(1995–2001)', '(2006)', '(2015–2017)',
       '(2008–2020)', '(1984–1996)', '(2010– )', '(2014)', '(2000)',
       '(2013–2018)', '(2009–2016)', '(2016–2020)', '(2021 TV Special)',
       '(2003)', '(1998–2003)', '(I) (2017)', '(1966–1969)', '(2009– )',
       '(2019)', '(1990–1991)', '(2012)', '(1995)', '(2020–2021)',
       '(2013–2017)', '(2015)', '(2019–2020)', '(2017–2018)',
       '(2013–2015)', '(2012–2017)', '(I) (2013–2016)', '(2002)',
       '(I) (2020)', '(III) (2021)', '(2018)', '(II) (2016)', '(1976)',
       '(1978)', '(2016–2019)', '(2009–2014)', '(2022)', '(2011–2014)',
       '(2007–2013)', '(2006–2007)', '(2002–2007)', '(2014–2017)',
       '(2010–2019)', '(2008– )', '(2012–2019)', '(2014–2016)',
       '(2009–2012)', '(2018–2020)', '(2001–2005)', '(2011–2015)',
       '(2014–2018)', '(2015–2019)', '(1982–1993)', '(1998– )', '(1968)',
       '(2010–2018)', '(2014–2021)', '(2007–2010)', '(2011)',
       '(2013–2021)', '(1990–1996)', '(2004)', '(2007–2014)',
       '(1996–2001)', '(2008)', '(1999–2000)', '(2012–2014)',
       '(I) (2013)', '(2012–2018)', '(2018–2019)', '(2009–2013)',
       '(1971)', '(2004– )', '(1989)', '(1998)', '(2001–2018)',
       '(1987–1995)', '(I) (2014)', '(1998–2020)', '(I) (2015)', '(1997)',
       '(2004–2013)', '(2002– )', '(2010)', '(I) (2016)', '(II) (2017– )',
       '(I) (2018)', '(I) (2021)', '(2004–2012)', '(2019–2021)',
       '(IV) (2020)', '(2006–2010)', '(2013)', '(2006–2012)', '(1996)',
       '(1994–2000)', '(II) (2020)', '(1980)', '(I) (2011)',
       '(1995–1996)', '(2016–2017)', '(1993–1996)', '(II) (2019– )',
       '(2009)', '(1962)', '(2022– )', '(I) (2012)', '(1984)',
       '(2011–2016)', '(2009–2019)', '(II) (2020– )', '(2006–2021)',
       '(I) (2010)', '(2012–2015)', '(I) (2013–2014)', '(1960)', '(1988)',
       '(2007)', '(1987)', '(2010–2011)', '(1969)', '(2006–2011)',
       '(II) (2019)', '(1961)', '(1979)', '(II) (2022)', '(2014–2015)',
       '(1956)', '(2013–2016)', '(III) (2018)', '(2005)', '(II) (2012– )',
       '(II) (2013)', '(1983)', '(2002–2019)', '(2013 TV Movie)',
       '(II) (2015)', '(I) (2012–2015)', '(1975–1979)', '(1990)', nan,
       '(II) (2018)', '(IV) (2021)', '(2015–2016)', '(1995–1998)',
       '(1986)', '(2012–2013)', '(1966)', '(2011–2012)', '(2011–2021)',
       '(2016 Video)', '(2017 TV Movie)', '(2009–2011)', '(2004–2018)',
       '(1967)', '(1984– )', '(1994)', '(2003–2006)', '(1974)',
       '(2000–2004)', '(1984–2021)', '(I)', '(II) (2021)', '(1994–1999)',
       '(III)', '(1992)', '(1969–1974)', '(2012–2016)', '(2013–2014)',
       '(I) (2008)', '(1958)', '(2008–2009)', '(II) (2004)',
       '(III) (2019)', '(2006–2009)', '(2011–2013)', '(2007–2008)',
       '(1988–1999)', '(2010–2012)', '(2010–2014)', '(II) (2012)',
       '(1932)', '(2014 TV Movie)', '(1941)', '(2006– )', '(1992–1995)',
       '(II) (2017)', '(1991)', '(2016 TV Special)', '(2020 TV Movie)',
       '(2008–2010)', '(II)', '(2020 Video)', '(1999– )', '(1950)',
       '(2020 TV Special)', '(1992–2014)', '(2002–2005)',
       '(2013 TV Special)', '(I) (2021– )', '(1999)', '(2016 TV Movie)',
       '(XII)', '(VII)', '(2021 TV Movie)', '(1983– )', '(1996 Video)',
       '(1993 TV Movie)', '(2018 TV Movie)', '(2005–2009)', '(2001–2002)',
       '(2015 TV Movie)', '(I) (2020– )', '(2011 Video)', '(2008 Video)',
       '(2012 Video)', '(II) (2014)', '(2019 Video)', '(1981–1989)',
       '(IV) (2016)', '(III) (2016)', '(2019 TV Movie)', '(1952)',
       '(2007 Video)', '(2000–2014)', '(1992– )', '(1957)', '(2003–2007)',
       '(III) (2015)', '(IV)', '(2008–2017)', '(2008–2019)',
       '(1998–2000)', '(I) (2004)', '(2007–2016)', '(2017 TV Special)',
       '(2009 TV Movie)', '(2013 Video)', '(2017 Video)', '(1994–1996)',
       '(IV) (2018)', '(2007– )', '(1954)', '(2012 TV Movie)', '(1995– )',
       '(1982)', '(1955)', '(2014 TV Short)', '(I) (2022– )',
       '(I) (2019–2020)', '(1975 TV Movie)', '(2019 TV Special)',
       '(2015 TV Special)', '(2015 TV Short)', '(2018 TV Special)',
       '(1948)', '(2014 Video)', '(VI) (2014)', '(2003–2013)',
       '(2021 Video)', '(1947)', '(2001– )', '(II) (2021– )', '(1946)',
       '(1997–2000)', '(III) (2020)', '(I) (2019– )', '(1993– )',
       '(1977)', '(I) (2009)', '(V)', '(2023)', '(TV Special)',
       '(II) (2011)', '(TV Movie)', '(1945)', '(2015 Video)',
       '(III) (2010)', '(2009 Video)', '(1998–2002)', '(2008 TV Movie)',
       '(2019 TV Short)', '(2004 Video)', '(II) (1998)',
       '(2014 TV Special)', '(1953)', '(1985)', '(VIII)', '(1973)',
       '(2012 TV Special)', '(V) (2016)', '(1972)', '(V) (2018)',
       '(II) (2010)', '(2021 TV Short)', '(VI) (2019)', '(I) (2005)',
       '(1965)', '(2010–2016)', '(V) (2010)', '(2005–2013)',
       '(2006 TV Special)', '(2006 Video)', '(2011 TV Movie)',
       '(1988 TV Movie)', '(XXIII)', '(2011 TV Special)',
       '(2020 TV Short)', '(VI) (2018)', '(2008 TV Special)',
       '(1998–1999)', '(I) (2015– )', '(III) (2012)', '(VI)',
       '(2010 TV Special)', '(III) (2017)', '(1993 TV Special)',
       '(2004–2005)', '(1992 Video)', '(1989 TV Special)', '(III) (2014)',
       '(1966 TV Special)', '(1999 TV Movie)', '(1987 TV Special)',
       '(1944)', '(1998 TV Special)', '(2022 TV Special)', '(1989 Video)',
       '(1991 TV Special)', '(IV) (2014)', '(2005 Video)',
       '(2007 TV Special)', '(1965 TV Special)', '(1990 TV Special)',
       '(2001 TV Special)', '(IX)', '(II) (2016– )', '(XIV) (2017)',
       '(2009–2010)', '(XIII)', '(II) (2012–2019)', '(1933)',
       '(II) (2009)', '(2010 Video)', '(2009 TV Special)', '(XI)',
       '(1938)', '(2003 TV Special)', '(Video)', '(2001 TV Movie)',
       '(VI) (2016)', '(III) (2011)', '(2006 TV Movie)',
       '(2007 TV Movie)', '(2017 TV Short)', '(2018 Video)',
       '(2000 Video)', '(1995 Video)', '(2003 Video)',
       '(II) (2016 TV Movie)', '(1998 Video)', '(2005 TV Special)',
       '(2004–2009)', '(2018 Video Game)', '(1988– )', '(1985– )'],
      dtype=object)

The year column has several incorrectly formatted values (roman numericals, "TV Special", "Video Game"). I will first strip all brackets from the column values, then, I will check if the length is >= 4 (Remove most roman numerals). Then, I will only take the first 4 digits of the column values to get the "first aired" year. Finally, to do one final check, I will parse the years as ints and drop any rows which fail this criteria (Get rid of any texts or roman numerals).

In [28]:
movies.YEAR.str.strip(")").str.strip("(")

0            2021
1          2021–
2       2010–2022
3          2013–
4            2021
          ...
9304       2014–
9314         2021
9463       2010–
9543       2021–
9602          NaN
Name: YEAR, Length: 6423, dtype: object